<H3>Assignment</H3>


<button (click)="onDisplayToggle()" class="btn btn-primary">Mostra Dettagli</button>

<div>
    
    <p  *ngIf="isDisplay" class="border rounded p-2 mt-3">
        Secret Word = Pippo Sniffo
    </p>
    
    
    <div class="border rounded p-2 mt-3">
    click fatti: {{ logClicks.length }}
    
        <ol>
            <li *ngFor="let logClick of logClicks; index as i">
                <span [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent', color: i >=4 ? 'white' : 'black'}">{{ logClick.dateTime }}</span>
            </li>
        </ol>
    
    </div>

</div>