/*
.alert-success, .alert-warning {
    border:1px solid gray;
    padding:2px;
    margin:5px;
}


.alert-success {
    background-color: chartreuse;
    color:dodgerblue;
}

.alert-warning {
    background-color: orange;
    color:white;
}
*/