
<label>Server Name</label>
<!--<input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
 -->
 <input 
 type="text"
 class="form-control"
 [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p>   -->


<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onCreateServer()">Add  Server</button>

<!--
<p>StringInterpolation: {{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
-->

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, name: {{ serverName }}</p>

<p *ngFor="let server of servers">
    <li>{{ server }}</li>
</p>

<app-server></app-server>


<hr>


<div class="container">
    <div class="row">
        
        <div class="col-xs-4">
            <label>username</label>

            <input type="text" class="form-control" [(ngModel)]="username">
            <!-- <input type="text" class="form-control" (input)="onUpdateUsername($event)"> -->
        </div>

        <div class="col-xs-4">
            username: {{ username }} - length: {{ username.length }}
        </div>


        <div class="col-xs-4">
            <!-- <button class="btn btn-primary" [disabled]="!isUsernameValid()" (click)="onResetUsername()">Reset Username</button> -->
            <!-- <button class="btn btn-primary" [disabled]="username.length === 0" (click)="onResetUsername()">Reset Username</button> -->
            <button class="btn btn-primary" [disabled]="username.length === 0" (click)="username = ''">Reset Username</button>
        </div>

    </div>
</div>





