<h3>Test Component</h3>


<h3>NGIF DIRECTIVE</h3>

<p *ngIf="true">Ciao sono un *ngIf</p>

<div *ngIf="isDisplay; then bloccoUno; else bloccoDue"></div>
<div>
    <ng-template #bloccoUno>
        blocco uno
    </ng-template>

    <ng-template #bloccoDue>
        blocco due
    </ng-template>
</div>


<h3>NGFOR DIRECTIVE</h3>

<div>
    
<button  class="btn btn-primary"  (click)="onUtenteAdd()">Add</button>

    <table class="table table-hover table-striped" style="width:800px">
        
        <thead>
            <tr>
                <th>index</th>
                <th>nome</th>
                <th>username</th>
                <th>isFirst</th>
                <th>isLast</th>
                <th>isOdd</th>
                <th>isEven</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            <tr
                *ngFor="let utente of utenti; index as i; first as isFirst; last as isLast, odd as isOdd, even as isEven"
                [ngClass]="{ 'even' : isEven, 'odd' : isOdd}">
                    <td>{{ i+1 }}</td>
                    <td>{{ utente.nome }}</td>
                    <td>{{ utente.username }}</td>
                    <td>{{ isFirst }}</td>
                    <td>{{ isLast }}</td>
                    <td>{{ isOdd }}</td>
                    <td>{{ isEven }}</td>
                    <td><i class="bi bi-trash" style="color:red" (click)="onUtenteDel(utente)"></i></td>
            </tr>
        </tbody>
    
    </table>
    
    
</div>
